.main {
  height: 100vh;
  width: 100%;
  position: relative;
  padding: 20px 0;
}

.mainTwo{
  display: none;
}

.hero {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("../../assets/banner.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: right;
  filter: blur(25px);
}

.mask {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("../../assets/banner.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: right;
  clip-path: polygon(58% 22%, 79% 23%, 68% 89%, 47% 89%);
}

.mask2 {
  height: 100%;
  width: 100%;
  position: absolute;
  background-image: url("../../assets/banner.png");
  background-size: 80%;
  background-repeat: no-repeat;
  background-position: right;
  clip-path: polygon(84% 30%, 96% 30%, 88% 72%, 76% 72%);
}

.banner-content {
  position: absolute;
  z-index: 2;
  max-width: 50%;
  top: 25%;
  left: 10%;
}

.banner-content h1 {
  font-size: 36px;
  font-weight: bold;
  color: #1f3c2e;
  line-height: 1.3;
  margin-bottom: 16px;
}

.banner-content p {
  font-size: 16px;
  color: #333;
  margin-bottom: 24px;
  line-height: 1.6;
}

/* -------- Responsive for Mobile -------- */
@media (max-width: 768px) {
 .main{
  display: none;
 }
 .mainTwo{
  display: block;
  padding: 50px 5px; 
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
 }
 
  .hero,
  .mask,
  .mask2 {
    display: none;
  }

  .banner-content {
    position: relative;
    max-width: 100%;
    top: auto;
    left: auto;
    padding: 0 1rem;
    text-align: center;
  }

  .banner-content h1 {
    font-size: 24px;
    margin-bottom: 12px;
  }

  .banner-content p {
    font-size: 14px;
    margin-bottom: 16px;
  }
}
